.container {
  /* padding: 17px; */
  width: 94%;
}
.container p {
  font-family: Gilroy;
  font-weight: 300;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0px;
}
.main h3 {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: gray;
}
.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.label h2 {
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0px;
}
.label img {
  width: 44px;
}
.footerContent {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.element {
  width: 166px;
  height: 214px;
  border-radius: 10px;
  padding: 0px 5px;
  background: #f4f4f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 4px;
  margin-bottom: 10px;
}
.element h4 {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
}
.card {
  position: relative;
  margin-top: 4px;
  margin-bottom: 8px;
}
.cardInfo {
  width: 100%;
  /* padding: 0px 5px; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.cardName {
  color: #a2acb0;
  margin-bottom: 8px;
}
.locationImg {
  width: 24px;
}
.location {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  width: 97%;
}
.avatar {
  width: 158px;
  height: 82px;
  border-radius: 10px;
}
.footer {
  position: fixed;
  bottom: 0;
  /* left: 0; */
  display: flex;
  width: 96%;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #222b1b;
  z-index: 100;
}
.contentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.home {
  width: 24px;
}
.people {
  width: 24px;
}
.MessageNo {
  width: 24px;
}
.CounterNo {
  width: 24px;
}
